<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8>
	<meta hhttp-equiv = "X-UA-Compatible" content="IE=edge">
	<meta name="viewpoint" content = "width-device-width,initial-scale=1.0">
	<title> ML Deployment Fowl Health Identification in Poultry Farming</title>
</head>
<body>
	<h1> Model Deployment Fowl Health Identification in Poultry Farming</h1>
<form action="sub" method="post">
  <label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile"><br><br>
  <input type="submit">
</form>		
		
</body>
</html>